#Database
DATABASE_URL="postgresql://postgres:tazamadb@10.10.80.31:5432/tazama"

#Alert Triage
CONFIDENCE_THRESHOLD=95
AI_TRIAGE_ENABLED=true
CLIENT_SYSTEM_INTERDICTION_ENABLED=true
SYSTEM_UUID=a9a8ff94-c7e4-4e6c-b421-e6d5d75a76e1

#Auth
TAZAMA_AUTH_URL=http://localhost:3020/v1/auth/login 
AUTH_PUBLIC_KEY_PATH=public-key.pem
CERT_PATH_PUBLIC=public-key.pem

# NATS Server
SERVER_URL=http://localhost:3000
STARTUP_TYPE=nats
NODE_ENV=dev
FUNCTION_NAME=relay-service
PRODUCER_STREAM=default
CONSUMER_STREAM=cms

# Performance
MAX_CPU=1
#SIDECAR_HOST=0.0.0.0:5000

# Alert Priority
PRIORITY_FIRST_HALF=0.33
PRIORITY_SECOND_HALF=0.66
PRIORITY_THIRD_HALF=1.0
DEFAULT_SLA_HOURS=72
ALERT_PRIORITY_CRON_SCHEDULE=0 * * * *